body{
  text-align:left;
  font-family:Helvetica, Verdana;
  font-size:12px;
  color:#000000;
  background-color:#FFFFFF;
  margin:0px 0px 0px 0px;
}

table{
  font-size:12px;
  border-color:#000000;
}

table tr td{
  border-color:#000000;
}

#tdtitle{
  background-color:#00467F;
}

#tdsubtitle{
  background-color:#009390;
  border-color:#000000;
  border-width:1px;
}

.borcol{
  background-color:#00FF00;
  color:#000000;
}

.menutitle{
  color:#00FF00;
  font-weight:bold;
}

table.in{
  text-align:center;
}

table.in input{
  border:none;
  background-color:transparent;
  font-size:12px;
}

table.in option{
  border:none;
  border-collapse:collapse;
  border-color:#000000;
  background-color:#CCCCCC;
  color:#000000;
  font-size:12px;
}

.smalltext{
    font-size:11px !important;
}

.topbottomnoline{
  border-top-style:none;
  border-bottom-style:none;
}

.bottomdotline{
  border-bottom-width:1px;
  border-bottom-style:dotted;
  border-bottom-color:#333333;
}

.bottomsolidline{
  border-bottom-width:1px;
  border-bottom-style:solid;
}

#sfont{
  font-size:9px;
}

.swidthqty{
  width:35px;
  text-align:center;
}

.swidth{
  width:35px;
  text-align:right;
}


.swidthmd{
  width:45px;
  text-align:right;
  color:#FFFFFF;
}

.swidthfd{
  width:45px;
  text-align:right;
}

.swidthpa1{
  width:60px;
  text-align:right;
  color:#FFFFFF;
}

.swidthpa2{
  width:60px;
  text-align:right;
}

.swidth4{
  width:100px;
}

.swidththk{
  width:70px;
  text-align:right;
}

.caninput{
  background-color:#CCCCCC;
}

#width{
  width:200px;
}

#width2{
  width:50px;
}

#width3{
  width:650px;
}

.width4{
  width:55px;
}

.width5{
  width:90px;
  text-align:center;
}

.width6{
  width:30px;
}

.width7{
  width:220px;
}

.width8{
  width:100px;
}

.borupdown{
  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#000000;
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:#000000;
}

.borup{
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:#000000;
}

.bordown{
  border-bottom-style:double;
  border-bottom-width:5px;
  border-bottom-color:#000000;
}

.borupdownall{
  border-top-style:solid;
  border-top-width:2px;
  border-top-color:#000000;
  border-bottom-style:double;
  border-bottom-width:5px;
  border-bottom-color:#000000;
}

a.noline{
  text-decoration:none;
}

a:link.noline, a:visited.noline{
  color:#FFFFFF;
}

a.link{
  text-decoration:none;
  color:#0099FF;
}

a.link:visited{
  text-decoration:none;
  color:#0099FF;
}

a.link:active{
  text-decoration:none;
  color:#0099FF;
}

a.link:hover{
  text-decoration:none;
  color:#777777;
}

#noprint{
  display:none;
}
td.proforma-setup{
   padding-top:4px;
   padding-bottom:3px;
}
td.proforma-space{
   padding-top:1px;
   padding-bottom:1px;
}

@media print{
  .noprint{
	display:none;
  }
}

/* Code128 barcode font */
/*
@font-face{
  font-family: "Code128bWin";
  src: url("http://localhost/phhsystem/include/Code128bWin.ttf")
}

.barcode{
  font-family:Code128bWin;
  font-size:20px;
}
*/

/* Code139 barcode font */
@font-face{
  font-family:"Free 3 of 9 Extended";
  src:url("http://localhost/phhsystem/include/FRE3OF9X.ttf")
}

.barcode{
  font-family:Free 3 of 9 Extended;
  font-size:32px;
}

#sticker{
  width:41mm;
  height:19.98mm;
  font-size:7px;
  border-width:0.5px;
}

#sticker2{
  font-size:8px;
  font-weight:bold
}

#sticker3{
  font-size:7px;
  font-weight:bold
}

#stickerspacing{
  width:41mm;
  height:285mm;
}